* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

img.slider {
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

h1.title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 10px black;
}

div.element-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 7px black;
    opacity: 0.8;
}

div.dots {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

div.dots span {
    display: inline-block;
    background-color: red;
    margin: 0 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px white;
}